@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;

.btn {
  cursor: pointer;

  font-size: var(--fs-100);
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;

  display: inline-block;
  border: none;
  background-color: transparent;

  &--box {
    padding: 0.9em 2em;

    transition: background-color 400ms, color 400ms;

    //light
    background-color: clr(dark);
    color: clr(light);
    //dark
    .dark & {
      background-color: clr(light);
      color: clr(dark);
    }

    &:hover,
    &:focus {
      background-color: rgba($color: clr(dark), $alpha: 0.15);
      color: clr(dark);
    }

    .dark &:hover,
    .dark &:focus {
      background-color: rgba($color: clr(light), $alpha: 0.7);
      color: clr(light);
    }
  }

  &--arrow::after {
    content: "";
    display: inline-block;
    line-height: 2em;

    width: 50px;
    height: 1em;

    margin-left: 1.6em;
    transition: margin-left 250ms;

    //light
    background-image: url("/images/arrow-black.svg");
    background-repeat: no-repeat;
  }

  //dark
  .dark &--arrow::after {
    background-image: url("/images/arrow-white.svg");
  }
  &--arrow:hover,
  &--arrow:focus {
    text-decoration: underline;
  }
  &--arrow:hover::after,
  &--arrow:focus::after {
    margin-left: 0.15em;
  }

  &--nav-toggle {
    position: relative;

    width: 25px;
    aspect-ratio: 1;

    &::before,
    &::after {
      display: block;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      background-repeat: no-repeat;
      background-position: center;

      transition: transform 250ms, opacity 250ms;
    }

    &::before {
      background-image: url("/images/hamburger-menu.svg");
    }
    &::after {
      background-image: url("/images/close-meu.svg");
      opacity: 0;
      transform: rotate(90deg);
    }

    &[aria-expanded="true"]::before {
      transform: rotate(90deg);
      opacity: 0;
    }
    &[aria-expanded="true"]::after {
      transform: rotate(0deg);
      opacity: 1;
    }
  }
}
