.link {
  transition: color 350ms;

  font-size: var(--fs-100);
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;

  &:hover {
    color: rgba($color: #000000, $alpha: 0.22);
  }
  .dark &:hover {
    color: rgba($color: #fff, $alpha: 0.4);
  }

  &--social > * {
    transition: opacity 300ms;
  }
  &--social:hover > * {
    opacity: 0.7;
  }
}
