@use "../abstracts/functions" as *;

.link {
  transition: color 350ms;

  font-size: var(--fs-100);
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;

  &:hover {
    color: rgba($color: clr(dark), $alpha: 0.3);
  }
  .dark &:hover {
    color: rgba($color: clr(light), $alpha: 0.5);
  }

  &--social > * {
    transition: opacity 300ms;
  }
  &--social:hover > * {
    opacity: 0.7;
  }
}
