@use "../abstracts/functions" as *;

.dark {
  background-color: clr(dark);
  color: clr(light);
}

.light {
  background-color: clr(light);
  color: clr(dark);
}

.little-light {
  background-color: clr(light, 300);
  color: clr(dark);
}

.clr-dark {
  color: clr(dark);
}
.clr-light {
  color: clr(light);
}
