@use "../abstracts/mixins" as *;

.spacing--same > *:not(:last-child) {
  margin-bottom: var(--s-1, 0);
}
.col.spacing--same > *:not(:last-child) {
  margin-bottom: 0;
  margin-right: var(--s-1, 0);
}
.col--small.spacing--same > *:not(:last-child) {
  @include media("small") {
    margin-bottom: 0;
    margin-right: var(--s-1, 0);
  }
}
.col--medium.spacing--same > *:not(:last-child) {
  @include media("medium") {
    margin-bottom: 0;
    margin-right: var(--s-1, 0);
  }
}
.col--large.spacing--same > *:not(:last-child) {
  @include media("large") {
    margin-bottom: 0;
    margin-right: var(--s-1, 0);
  }
}

@include spacing("s-1");
@include spacing("s-2");
@include spacing("s-3");
@include spacing("s-4");
@include spacing("s-5");
@include spacing("s-6");
