$breakpoints: (
  zero: 0px,
  small: 560px,
  medium: 768px,
  large: 1025px,
);

$colors: (
  dark: (
    200: hsl(0, 0%, 45%),
    300: hsl(0, 0%, 25%),
    400: hsl(0, 0%, 0%),
  ),
  light: (
    200: hsl(0, 0%, 68%),
    300: hsl(0, 0%, 90%),
    400: hsl(0, 0%, 100%),
  ),
  accent1: (
    400: hsl(28, 100%, 79%),
  ),
  accent2: (
    400: hsl(329, 36%, 59%),
  ),
  accent3: (
    400: hsl(229, 100%, 68%),
  ),
);
