@use "./mixins" as *;

:root {
  //font-families
  --ff-sans: "DM Sans", sans-serif;

  //font-sizes
  --fs-100: 0.75rem;
  --fs-200: 0.8125rem;
  --fs-300: 0.875rem;
  --fs-400: 0.9375rem;
  --fs-500: 1.125rem;
  --fs-600: 1.5rem;
  --fs-700: 1.875rem;
  @include media("medium") {
    --fs-700: 2.25rem;
  }
  @include media("large") {
    --fs-400: 1rem;
    --fs-700: 2.5rem;
  }

  //line-heights
  --line-height-s: 16px;
  --line-height-m: 25px;
  --line-height-l: 48px;
}
